* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.active {
    box-shadow: inset -5px -5px 25px red;
}

a:hover > i,
button:hover > i {
    animation: swing ease-in-out 0.5s 1 alternate;
}


main {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .side_menu {
        width: 18%;
        height: 100%;
        //background-color: orange;
        background: linear-gradient(153deg,  rgba(248,182,74,1) 20%, rgba(248,88,94,1) 80%);
        padding: 10px 0;
        li {
            display: flex;
            align-items: center;
            width: 100%;
            height: 40px;
            border-bottom: 1px solid lightgray;
            padding-left: 10px;
            &:first-child {
                border-top: 1px solid lightgray;
            }
            &:hover {
                box-shadow: inset -5px -5px 25px red;
            }
            a {
                display: flex;
                align-items: center;
                width: 100%;
                text-decoration: none;
                color: white;
                i {
                    width: 30%;
                    font-size: 25px;
                }
                span {
                    width: 70%;
                }
            }
        }
    }
    .body_pannel {
        width: 100%;
        height: calc(100% - 50px);
        .pannel_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 50px;
            //border-bottom: 1px solid black;
            border-bottom: 0.5px solid lightgray;
            box-shadow: 0 5px 25px rgb(0 0 0 / 35%);
            padding: 0 20px;
            p {
                margin: 0;
            }
            .user_info {
                display: flex;
                align-items: center;
                p {
                    margin: 0 10px;
                }
                input {
                    border: none;
                    background-color: transparent;
                }
            }
        }
        .pannel_content_container {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            padding: 20px 30px;
        }
    }
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.my_card {
  position: relative;
  display: flex;
  flex-direction: column;
  // height: 200px;
  // width: calc(100% / 4 - 20px);
  // margin: 10px;
  // border-radius: 8px;
  color: white;

  width: calc(40% - 30px);
  height: 230px;
  border: 0.5px solid lightgray;
  margin: 10px 15px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.35);
  transition: transform 300ms, box-shadow 300ms;
  &:hover {
      transform: scale(1.1);
  }

  .restaurant_img {
      width: 100%;
      height: 100%;
  }
  img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
  }
  

  .my_card_body {
      // height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 !important;
      z-index: 1;
  }

  .position_absolute {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      padding: 15px;
      border-radius: 8px;

      // text-align: center;
      background-color: rgba(0,0,0,0.5);
      &:hover {
          background-color: rgba(0,0,0,0.3);
          transition: 0.5s;
      }
  }

  .card_top {
      z-index: 3;
      word-break: break-all;
      width: 100%;
      height: 80%;
      overflow: hidden;
      &:hover {
          overflow-y: auto;
      }
  }

  .card_bottom {
      z-index: 3;
      width: 100%;
      height: 20%;
      //display: flex;
      // justify-content: center;
      .btn-info{
          margin-right: 15px;
      }
  }
  ::-webkit-scrollbar {
    width:7px
  }
  ::-webkit-scrollbar-track {
    background: lightgrey;
  //   border-radius: 10px
  }
  ::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 10px
  }
    
}

.my_new_card {
  height: 450px;
}

.my_shadow {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.35);
  transition: transform 300ms, box-shadow 300ms;
  &:hover {
      transform: scale(1.1);
  }
}

.my_overflow {
  height: 20%;
  word-break: break-all;
  overflow: hidden;
    &:hover {
        overflow-y: auto;
    }
}
