::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: lightgrey;
}

::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 10px;
}

.btn-info {
  color: white;
  border: 1px solid orange;
  background-color: orange;
}
.btn-info:hover {
  border: 1px solid orange;
  background-color: darkorange;
}
.btn-info:active {
  border: 1px solid orange !important;
  background-color: darkorange !important;
}

.card {
  display: flex;
  flex-direction: column;
  width: calc(100% / 4 - 10px);
  height: 400px;
  margin: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}
.card:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition: 1s;
}
.card .card_body {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .card_top {
  height: 80%;
  overflow: hidden;
}
.card .card_top:hover {
  overflow-y: auto;
}
.card .card_bottom {
  height: 10%;
  display: flex;
  align-items: flex-end;
}
.card .card_bottom form {
  margin-left: 5px;
}
