.pannel_content_container {
  padding: 0 !important;
}

.form_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_container form {
  width: 500px;
  padding-left: 50px;
}
.form_container form .radio_box {
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}
.form_container form .my_btn {
  color: white;
  border: 1px solid orange;
  background-color: orange;
}
.form_container form .my_btn:hover {
  border: 1px solid orange;
  background-color: #e69500 !important;
}
.form_container form .my_btn:active {
  border: 1px solid orange !important;
  background-color: #e69500 !important;
}

h1 {
  color: #F8585E;
}
