::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: lightgrey;
}

::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 10px;
}

.btn-info {
  color: white;
  border: 1px solid orange;
  background-color: orange;
}
.btn-info:hover {
  border: 1px solid orange;
  background-color: darkorange;
}
.btn-info:active {
  border: 1px solid orange !important;
  background-color: darkorange !important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: calc(100% / 4 - 20px);
  margin: 10px;
  color: white;
}
.card .dish_img {
  width: 100%;
  height: 100%;
}
.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 !important;
  z-index: 1;
}
.card .position_absolute {
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}
.card .position_absolute:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.5s;
}
.card .card_top {
  z-index: 3;
  word-break: break-all;
  width: 100%;
  height: 80%;
  overflow: hidden;
}
.card .card_top:hover {
  overflow-y: auto;
}
.card .card_bottom {
  z-index: 3;
  width: 100%;
  height: 10%;
  display: flex;
}
.card .card_bottom form {
  margin-left: 20px;
}
