@-webkit-keyframes bounce {
  to {
    transform: scale(1.2);
  }
}
@keyframes bounce {
  to {
    transform: scale(1.2);
  }
}
@-webkit-keyframes gradientbg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradientbg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes showFormlogin {
  0% {
    height: 0;
  }
  100% {
    height: 350px;
  }
}
@keyframes showFormlogin {
  0% {
    height: 0;
  }
  100% {
    height: 350px;
  }
}
@-webkit-keyframes showFormRegister {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}
@keyframes showFormRegister {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}
main {
  min-height: 100vh;
  background: linear-gradient(-45deg, #F96F5A, #F86A5A, #F8B64A, #F8B64A);
  background-size: 400% 400%;
  -webkit-animation: gradientbg 30s ease infinite;
          animation: gradientbg 30s ease infinite;
}

.card_on_register {
  -webkit-animation: showFormRegister 1s linear;
          animation: showFormRegister 1s linear;
}

.card_on_login {
  -webkit-animation: showFormlogin 1s linear;
          animation: showFormlogin 1s linear;
}

.card_shadow {
  box-shadow: -5px 5px #c5c59c;
  overflow: hidden;
  font-weight: bold;
  /*label {
    text-shadow: 2px 2px yellow;   
  }*/
  background-color: #EAE0C8;
}
.card_shadow .card-header {
  font-size: 24px;
  font-weight: bold;
  background-color: #EAE0C8;
}
.card_shadow .bounce-change {
  opacity: 1;
  -webkit-animation: bounce 0.5s infinite alternate;
          animation: bounce 0.5s infinite alternate;
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
  background-color: orange;
  border-color: orange;
  color: #fff;
}
.card_shadow .bounce-change:hover {
  box-shadow: inset -1px -1px 7px yellow;
  color: #fff;
}

.select-cucina {
  outline: 0px;
}
