body {
  background-color: #F4F5F5;
}

header {
  background-color: white;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 99;
}
header .wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}
header .wrapper .navbar {
  height: 100%;
  width: 100%;
}
header .wrapper .navbar #burger_icon {
  position: absolute;
  top: 25px;
  right: 20px;
  z-index: 99;
  cursor: pointer;
}
header .wrapper .navbar #burger_icon div {
  height: 4px;
  width: 25px;
  margin: 4px 0;
  background-color: black;
}
header .wrapper .navbar .nav_menu_small {
  width: 100vw;
  height: 300px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #b6363a;
  transform: translateY(-100%);
  transition: 0.4s;
  z-index: 98;
}
header .wrapper .navbar .nav_menu_small .links {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}
header .wrapper .navbar .nav_menu_small .links a {
  color: white;
  font-size: 20px;
}
header .wrapper .navbar .nav_menu_small .links input {
  color: black;
  background-color: #92d9d5;
  outline: none;
  border: 1px solid #92d9d5;
  padding: 10px 20px;
}
header .wrapper .logo {
  height: 100%;
}
header .wrapper .logo .first_logo img {
  height: 100%;
  max-width: 100%;
}
header .wrapper .logo .resp_logo {
  display: none;
}
header .wrapper .logo .resp_logo img {
  height: 100%;
  max-width: 100%;
}
header .wrapper .inline_list {
  list-style: none;
  margin: 0;
}
header .wrapper .inline_list li a {
  color: black;
}

.banner_head {
  width: 100%;
  height: 500px;
  background: #f8b64a;
  background: linear-gradient(220deg, #f8b64a 16%, #f8585e 54%);
  margin-bottom: -250px;
}

main {
  background-color: #F4F5F5;
  padding-bottom: 50px;
}

@media screen and (min-width: 576px) {
  header .wrapper .navbar #burger_icon {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  header .wrapper .navbar .nav_links {
    display: none;
  }
  header .wrapper .logo .first_logo {
    display: none;
  }
  header .wrapper .logo .resp_logo {
    display: block;
    height: 100%;
  }
}
.layout_footer {
  padding: 50px 0;
  position: relative;
  width: 100%;
  background-color: #2E3333;
  color: white;
}
.layout_footer .footer_layout_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.layout_footer .footer_layout_wrapper .copyright {
  text-align: center;
  margin-bottom: 30px;
}
.layout_footer .footer_layout_wrapper .copyright b {
  color: #F8585E;
}
.layout_footer .footer_layout_wrapper .our_cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.layout_footer .footer_layout_wrapper .our_cards .flip-card {
  background-color: transparent;
  width: 160px;
  height: 170px;
  margin: 5px;
  perspective: 1000px;
}
.layout_footer .footer_layout_wrapper .our_cards .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.layout_footer .footer_layout_wrapper .our_cards .flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.35);
}
.layout_footer .footer_layout_wrapper .our_cards .flip-card .flip-card-inner .flip-card-front, .layout_footer .footer_layout_wrapper .our_cards .flip-card .flip-card-inner .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.layout_footer .footer_layout_wrapper .our_cards .flip-card .flip-card-inner .flip-card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2E3333;
  color: black;
}
.layout_footer .footer_layout_wrapper .our_cards .flip-card .flip-card-inner .flip-card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  transform: rotateY(180deg);
}
.layout_footer .footer_layout_wrapper .our_cards .flip-card .flip-card-inner .flip-card-back .personal_social_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.layout_footer .footer_layout_wrapper .our_cards .flip-card .flip-card-inner .flip-card-back .personal_social_icon a {
  text-decoration: none;
}
.layout_footer .footer_layout_wrapper .our_cards .flip-card .flip-card-inner .flip-card-back .personal_social_icon a i {
  margin-right: 20px;
  font-size: 30px;
  color: white;
}
