.my_table {
  width: 70%;
}

.btn_circle {
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .my_column {
    flex-direction: column;
    align-items: center;
  }
  .my_column .my_table {
    margin-left: 0 !important;
  }
  .my_column .my_table .ingredients {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .my_column {
    flex-direction: column;
    align-items: center;
  }
  .my_column .my_table {
    margin-left: 0 !important;
    width: 15rem !important;
  }
}
