.restaurant_box {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.restaurant_box .left_box {
  width: 50%;
  margin: 0 20px 0 0;
}
.restaurant_box .right_box {
  width: 50%;
}
.restaurant_box .right_box .img-fluid {
  width: 60px;
}

.my_table {
  width: 70%;
}

.btn_circle {
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
}

@media screen and (max-width: 830px) {
  .d-flex .my_table {
    width: 15rem !important;
    margin-top: 40px;
  }

  .card {
    margin-right: 0 !important;
  }
}
