.canvas-container {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  margin-left: 5%;
  -webkit-animation: goInStatistic 1s linear;
          animation: goInStatistic 1s linear;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5%;
  padding: 5%;
  background-color: white;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.35);
  transition: 1.5s;
}

.analitics-container {
  display: flex;
  transition: 1s;
}

.container {
  transition: 1s;
}

.card-direction {
  min-width: 490px;
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5%;
  align-items: center;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.35);
}
.card-direction img {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation: goIn 2s linear;
          animation: goIn 2s linear;
  border-radius: 5%;
  transition: 1s;
}

.statistic-container {
  border-radius: 2%;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.35);
  transition: 1s;
}

h3, h4 {
  -webkit-animation: txtshow 1s linear;
          animation: txtshow 1s linear;
}

@-webkit-keyframes goIn {
  0% {
    margin-left: -200px;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes goIn {
  0% {
    margin-left: -200px;
  }
  100% {
    margin-left: 0;
  }
}
@-webkit-keyframes txtshow {
  0% {
    font-size: 0;
  }
  100% {
    font-size: 1.4 rem;
  }
}
@keyframes txtshow {
  0% {
    font-size: 0;
  }
  100% {
    font-size: 1.4 rem;
  }
}
@-webkit-keyframes goInStatistic {
  0% {
    margin-right: -200px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes goInStatistic {
  0% {
    margin-right: -200px;
  }
  100% {
    margin-left: 0;
  }
}
