.canvas-container {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  -webkit-animation: goInStatistic 1s linear;
          animation: goInStatistic 1s linear;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5%;
  padding: 5%;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.35);
  transition: 1.5s;
  display: flex;
  min-width: 300px;
  text-align: center;
  flex-direction: column;
  color: white;
  background-color: #F8585E;
}
.canvas-container h2 {
  -webkit-animation: txtshow 1s linear;
          animation: txtshow 1s linear;
}

.analitics-container {
  display: flex;
  transition: 1s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  transition: 1s;
}

.card-direction {
  transition: 1s;
  display: flex;
  flex-direction: row;
  color: white;
  background: linear-gradient(180deg, #9adcd9 0%, #f8585e 45%, #f8585e 100%);
  justify-content: space-between;
  border-radius: 5%;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.35);
  width: 60%;
  margin: auto;
  padding: 40px;
  /*
  img  {
    animation-delay: 1s;
    animation: goIn 2s linear ;
    border-radius: 5%;
    transition: 1s;

  }
  */
}
.card-direction .card_div {
  display: inline-block;
}
.card-direction .card_div .coscia {
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 50%;
  font-size: 40px;
  color: white;
  -webkit-animation: txtshow 1s linear;
          animation: txtshow 1s linear;
}

.statistic-container {
  border-radius: 2%;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.35);
  transition: 1s;
}

h5, h6 {
  -webkit-animation: txtshow 1s linear;
          animation: txtshow 1s linear;
  text-transform: uppercase;
}

h5:nth-child(2) {
  font-weight: bold;
}

@-webkit-keyframes goIn {
  0% {
    margin-left: -200px;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes goIn {
  0% {
    margin-left: -200px;
  }
  100% {
    margin-left: 0;
  }
}
@-webkit-keyframes txtshow {
  0% {
    font-size: 0;
  }
  100% {
    font-size: 1.4 rem;
  }
}
@keyframes txtshow {
  0% {
    font-size: 0;
  }
  100% {
    font-size: 1.4 rem;
  }
}
@-webkit-keyframes goInStatistic {
  0% {
    margin-right: -200px;
  }
  100% {
    margin-right: 0;
  }
}
@keyframes goInStatistic {
  0% {
    margin-right: -200px;
  }
  100% {
    margin-right: 0;
  }
}
@media screen and (max-width: 320px) {
  main .card-direction .card_div .coscia {
    font-size: 0px;
    color: black;
  }
  main .card-direction .card_div h5, main .card-direction .card_div h6 {
    font-size: 10px;
  }
  main .analitics-container .canvas-container h2 {
    font-size: 10px;
  }
}
.chart-container {
  position: relative;
  margin: auto;
  height: 40vh;
  width: 80vw;
}

@media screen and (max-width: 320px) {
  main .card-direction {
    padding: 10px;
  }
  main .card-direction .card_div .coscia {
    font-size: 0px;
    color: black;
  }
  main .card-direction .card_div h5, main .card-direction .card_div h6 {
    font-size: 10px;
  }
  main .analitics-container {
    width: 80%;
    margin: auto;
    margin-left: 0;
  }
  main .analitics-container .canvas-container {
    padding: 20px;
  }
  main .analitics-container .canvas-container h2 {
    font-size: 10px;
  }
}
@media screen and (max-width: 720px) {
  main .card-direction {
    padding: 10px;
  }
  main .card-direction .card_div .coscia {
    font-size: 0px;
    color: black;
  }
  main .card-direction .card_div h5, main .card-direction .card_div h6 {
    font-size: 14px;
  }
  main .analitics-container .canvas-container h2 {
    font-size: 14px;
  }
}
@media screen and (max-width: 375px) {
  main .card-direction {
    padding: 10px;
  }
  main .card-direction .card_div .coscia {
    font-size: 0px;
    color: black;
  }
  main .card-direction .card_div h5, main .card-direction .card_div h6 {
    font-size: 10px;
  }
  main .analitics-container {
    width: 80%;
    margin: auto;
    margin-left: 0;
  }
  main .analitics-container .canvas-container {
    padding: 10px;
  }
  main .analitics-container .canvas-container h2 {
    font-size: 10px;
  }
}
