.loader {
    position: absolute;
    z-index: 120;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.banner_head {
    height: 400px;
    margin-bottom: -200px;
}

.restaurant_title{
    h1 {
        margin-bottom: 20px;
    }
}
.restaurant_img {
    height: 120px;
    width: 150px;
    border-radius: 10px;
    margin-right: 20px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
    }
}
.restaurant_info {
    p {
        font-weight: bold;
        font-size: 25px;
    }
    span {
        color: #828585;
    }
}

.payment_wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    .payment_form,
    .cart_recap  {
        background-color: white;
        padding: 20px;
        box-shadow: 0px 22px 24px 0px rgb(0 0 0 / 8%);
        border-radius: 10px;
    }
    .payment_form {
        margin-right: 20px;
    }
}

.info_consegna {
    margin-top: 20px;
}

#proceed {
    background-color: #f8585e;
    border: 1px solid #f8585e;
}

.recap_order_title {
    #order_title {
        margin-bottom: 0;
    }
    div {
        form {
            button {
                font-size: 25px;
                color: #f8585e;
                outline: none;
                background-color: white;
                border: none;
            }
       
        }
    }
}

.orders {
    margin: 20px 0;
    .recap_order {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        .recap_dish {
            span {
                font-weight: bold;
                margin-right: 5px;
                display: inline-block;
            }
        }
    }
}




@media (max-width: 992px) {
    .payment_wrapper {
        width: 100%;
        display: block;
    }
}